


services:

  postgres:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
      POSTGRES_LOG_LEVEL: debug

  rabbitmq:
    image: rabbitmq:3.9.16-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_LOGS: debug
  
  redis:
    image: redis:6.2.6-alpine
    ports:
      - "6379:6379"
    environment:
      REDIS_LOG_LEVEL: debug